* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #020617;        
  --bg-secondary: #1e1b4b;   

  --card-bg: rgba(255, 255, 255, 0.05);
  --glass: rgba(255, 255, 255, 0.06);

  --text-main: #ffffff;
  --text-soft: rgba(255,255,255,0.7);

  --accent-pink: #f472b6;
  --accent-purple: #a78bfa;
}

.home-container {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle at 20% 20%, var(--bg-secondary), var(--bg-main));
  overflow: hidden;
}

.home-profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.home-title {
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 800;
  background: linear-gradient(90deg, #cfcfcf, #069de2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 40px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.home-btn {
  text-decoration: none;
  padding: 14px 20px;
  border-radius: 14px;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(12px);
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: all 0.25s ease;
  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.05),
    inset 0 0 10px rgba(255, 255, 255, 0.03);
}

.home-btn:hover {
  color: white;
  transform: translateY(-2px);
  background: rgb(0, 136, 255);
  box-shadow:
    0 0 25px rgba(255, 255, 255, 0.792),
    0 0 50px rgba(64, 0, 255, 0.15);
}

.login-screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: radial-gradient(circle at center, var(--bg-secondary), var(--bg-main));
}

.login-screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: radial-gradient(circle at center, var(--bg-secondary), var(--bg-main));
}

.login-profile {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 60px; 
  border: 3px solid rgba(255,255,255,0.7);
  box-shadow:
    0 0 20px rgba(139, 191, 250, 0.3),
    0 0 50px rgba(254, 254, 254, 0.229);
}

.login-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.login-profile-text {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.login-name {
  font-size: clamp(24px, 4vw, 36px);
  font-weight: 700;
  color: white;
  margin: 0;
  background: linear-gradient(90deg, #fff, #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  word-break: break-word;
}

.login-text {
  color: #ffffff;
  font-size: 10px;
  opacity: 0.6;
  max-width: 220px;
}

@media (max-width: 768px) {

  .login-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .login-profile-text {
    align-items: center;
  }

  .login-name {
    font-size: clamp(22px, 6vw, 28px);
  }

  .login-profile {
    width: 100px;
    height: 140px;
  }

  .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  }

  .login-input,
  .login-btn {
    width: 100%;
    max-width: 260px;
  }

}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.login-input {
  font-family: 'Inter', sans-serif;
  width: 150px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  text-align: center;
}

.login-btn {
  font-family: 'Inter', sans-serif;
  width: 100px;
  padding: 10px;

  border-radius: 12px;
  border: none;

  background: white;
  cursor: pointer;

  transition: 0.2s;
}

.login-btn:hover {
  background: var(--accent-purple);
  color: white;
}

#mainContent {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

#mainContent.show {
  opacity: 1;
  pointer-events: auto;
}