* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #020617;        
  --bg-secondary: #1e1b4b;   

  --card-bg: rgba(255, 255, 255, 0.05);
  --glass: rgba(255, 255, 255, 0.06);

  --text-main: #ffffff;
  --text-soft: rgba(255,255,255,0.7);

  --accent-pink: #f472b6;
  --accent-purple: #a78bfa;
}

.home-container {
  font-family: 'Inter', sans-serif;
  line-height: 2;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle at 20% 20%, var(--bg-secondary), var(--bg-main));
  overflow: hidden;
}

.home-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
}

.home-title {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  margin: 5px 0;
  font-weight: 1000;
  letter-spacing: 0.5px;
}

.home-subtitle {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 35px;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.home-btn {
  text-decoration: none;
  padding: 14px 20px;
  border-radius: 14px;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(12px);
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: all 0.25s ease;
  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.05),
    inset 0 0 10px rgba(255, 255, 255, 0.03);
}

.home-btn:hover {
  color: white;
  transform: translateY(-2px);
  background: rgb(0, 136, 255);
  box-shadow:
    0 0 25px rgba(255, 255, 255, 0.792),
    0 0 50px rgba(64, 0, 255, 0.15);
}